[aria-label="User Settings"] > [class*=contents-]::after {
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 0.32 0.32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M.16 0C.072 0 0 .072 0 .16s.072.16.16.16S.32.248.32.16.248 0 .16 0z'/%3E%3C/svg%3E");
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='' fill='currentColor'/%3E%3C/svg%3E");
  -webkit-mask-size: cover;
  background-color: #f23f42;
  position: absolute;
  height: 16px;
  width: 16px;
  right: 1px;
  bottom: 1px;
}

[aria-label="User Settings"] > [class*=item-2GWPIy]:nth-child(21):after {
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 0.32 0.32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M.16 0C.072 0 0 .072 0 .16s.072.16.16.16S.32.248.32.16.248 0 .16 0z'/%3E%3C/svg%3E");
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='' fill='currentColor'/%3E%3C/svg%3E");
  -webkit-mask-size: cover;
  background-color: #f23f42;
  position: absolute;
  height: 16px;
  width: 16px;
  left: 74px;
  bottom: 1px;
}

[id=replugged-quickcss-wrapper]:before {
  color: #f23f42;
  content: "Please use the Dis-Cons theme instead of using @import discord_icons snippet\a\a";
  white-space: pre;
}
